<body class="d-flex flex-column align-items-center" >
  <h1>Here is a list of the users</h1>
  <article class="d-flex w-75 p-3">
    <img  class="border border-5 me-3" src="" alt="USER AVATAR" srcset="">
    <section class="border border-5 position-relative w-100 p-4">
      <h2>USER NAME</h2>
      <p class="position-absolute bottom-0 end-0 me-3" >Number of posts: X</p>
    </section>
  </article>
</body>