 <section class="d-flex justify-content-center border border-5 position-relative w-75 p-3 m-3">
    <p class="position-absolute top-0 start-0 ms-3 mt-1 fw-bold" >Post #<%= post.id %></p>
    <p class="mt-4 fw-bold" ><%= truncate(post.text, length: 100, separator: ' ') %></p>
    <p class="position-absolute bottom-0 end-0 me-3" >Comments: <%= post.comments_counter %>,Likes: <%= post.likes_counter %></p>
  </section>