<article class="d-flex w-75 p-3">
  <div class="border border-5 me-3" style="width: 120px;">
    <img class="img-fluid"src="/assets/user_avatar-svgrepo-com.svg" alt="USER AVATAR" srcset="">
  </div>
  <section class="border border-5 position-relative w-100 p-4">
    <h2><%= user.name %></h2>
    <p class="position-absolute bottom-0 end-0 me-3" >Number of posts:<%= user.post_counter %></p>
  </section>
</article>